@media only screen and (max-width: 600px) {
    .card-container{
        margin-top: 190px;
      }
      
      .character-card {
         padding-top: 10px;
       
          
        }
      .character-image {
          
        width: 80px;
        height: 80px;
        
      }
  }